.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}